<%-include('./header.ejs')%>
  <%-include('./sidebar.ejs')%>




    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


      <!-- Main content -->
      <section class="content">
      <div class="container-fluid">
        <div class="row pt-3">
          <div class="col-lg-3 col-md-6">
            <div class="small-box bg-warning">
            <div class="inner">
              <h3>150</h3>
              <p>add property</p>
            </div>
            <a href="" class="small-box-footer ">
              More Info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          </div>
          <div class="col-lg-3 col-6" >
            <div class="small-box bg-danger">
            <div class="inner">
              <h3>200</h3>
              <p>add category</p>
            </div>
            <a href="" class="small-box-footer ">
              More Info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          </div>
          <div class="col-lg-3 col-6 ">
            <div class="small-box bg-primary">
            <div class="inner">
              <h3>100</h3>
              <p>add contact</p>
            </div>
            <a href="" class="small-box-footer ">
              More Info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
            <div class="inner">
              <h3>150</h3>
              <p>new property</p>
            </div>
            <a href="" class="small-box-footer ">
              More Info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        </div>
      </div><!--container fluid end-->
    </section>

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <%-include('./footer.ejs')%>