<%-include ('./header.ejs')%>
<!------------------container start----------------------->
<div class="container mt-5">
    <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3);">
            <div class="row align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="about-img">
                <img src="images/about-image-1.jpg" alt="" class="w-100 mt-2">
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <h1 class="text-success mb-3">Place To Find The Perfect Property For Rent</h1>
                <p >
                    Provinding Renters For Your Propertery And Advertise your property for Sale Or Rent.
                </p>
                    <p>
                        <i class="fa-solid fa-check text-success me-3"></i>
                        Room on Rent
                    </p>
                    <p>
                        <i class="fa-solid fa-check text-success me-3"></i>
                        PG For students
                    </p>
                    <p>
                        <i class="fa-solid fa-check text-success me-3"></i>
                        Flat And Apartment
                    </p>
                    <button class="btn btn-success px-5 py-3">Read More</button>
            </div>
            </div>
        </div>
    </div>
</div><!--container end-->

<%-include ('./footer.ejs')%>