<%-include('./header.ejs')%>
   <!-------------------container start------------------------>
   <div class="container">
    <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3);">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img"> 
                        <img class="image-fluid rounded w-100" src="https://www.shutterstock.com/image-photo/portrait-cheerful-young-manager-handshake-260nw-1312231271.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-4">
                        <h1>
                            Contact With Our Certified Broaker
                        </h1>
                        <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
                    </div>
                    <a class="btn btn-success py-3 px-4" href="">
                        <i class="fa-solid fa-phone"></i>
                        Make A Call</a>
                        <button type="button" class="btn btn-dark py-3 px-5">
                            <i class="fa-sharp fa-solid fa-calendar-days"></i>
                            Get Appointment
                        </button>
                </div>
            </div>
        </div>
    </div>

</div><!--container-end-->
<!---------------------------contact end------------------------->
<!---------------------------team start-------------------------->
<div class="container">
    <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3);">
            <div class="mb-5 justify-content-center" style="max-width: 600px;">
            <h1 class="mb-3">Broaker Agents</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="rounded overflow-hidden">
                    <div class="position-relative">
                        <img  class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="">
                        <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5>Kirti Goayal</h5>
                        <small>Thatipur,Gwalior</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rounded overflow-hidden">
                    <div class="position-relative">
                        <img  class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="">
                        <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5>Kirti Goayal</h5>
                        <small>Thatipur,Gwalior</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rounded overflow-hidden">
                    <div class="position-relative">
                        <img  class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="">
                        <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5>Kirti Goayal</h5>
                        <small>Thatipur,Gwalior</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rounded overflow-hidden">
                    <div class="position-relative">
                        <img  class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="">
                        <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-square mx-1 bg-white" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5>Kirti Goayal</h5>
                        <small>Thatipur,Gwalior</small>
                    </div>
                </div>
            </div>
        </div><!--row end-->
        </div>
    </div>
</div><!--container end-->
<%-include('./footer.ejs')%>